/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/

/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,500i,700,700i,900,900i&display=swap');
body {
	font-family: $roboto;
	font-weight: 400;
	color:$black; 
	font-size: 16px;
	line-height: 1.4;
}
.img,img {
	max-width: 100%;
	@include transition(.3s);
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	@include transition(.3s);
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover
{
	color: inherit;
	text-decoration: none;
}
a,
button {
	color: inherit;
	outline: medium none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500; 
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 90px;
	color: $white;
	font-weight: 100;
}
h2 {
	font-size: 38px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 17px;
}
h6 {
	font-size: 14px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	color: $theme-color;
}
hr {
	background: #c2cfff;
	width: 85px;
	height: 3px;
	margin: 35px 0;
	padding: 0;
	border: none;
}
label {
	color: $theme-color;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: $theme-color;
	text-shadow: none;
}
::-moz-selection {
	background: $theme-color;
	text-shadow: none;
}
::selection {
	background: $theme-color;
	text-shadow: none;
}

/*--
    - Input Placeholder
-----------------------------------------*/
.footer-email input::-moz-placeholder {
	color: $theme-color;
}
.footer-email input::placeholder {
	color: $theme-color;
}


/*--
    - Common Classes
-----------------------------------------*/
.fix {
    overflow:hidden;
}
.clear{
    clear: both;
}
.b-left{
    border-left: none; 
}
.b-right{
    border-right: none; 
}

/*--
    - Font Famaly
-----------------------------------------*/
.roboto{
	font-family: $roboto;
}

// Menu Area
.menu-area{
    li{
        display: inline-block;play: inline-block;
    }
}
/*--
    - Background color
-----------------------------------------*/

.theme-bg {
	background: $theme-color;
}
.btn-black {
	background: $theme-color;
}
.blue-bg{
	background: $blue;
}
.red-bg{
	background: $red;
}
.blue-bg{
	background: $blue-dip;
}
// .primary-bg {
// 	background: #222;
// }

/*--
    - color
-----------------------------------------*/

.theme-color {
	color: $theme-color;
}
.red-color{
	color: $red;
}
.blue-color {
	color: $blue;
}
.white-color{
	color: $white;
}
.blue-dip{
	color: $blue-dip;
}
// .primary-color {
// 	color: #222;
// }
/*--------------------------------------
	- Button
----------------------------------------*/
.btn{
	@extend %btn;
}
.theme-btn{
	@extend %btn;
	background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
	color: $white;
	padding: 20px 30px;
}


/* Small Heding Title*/
.single-content{
	p{
		width: 100%;
		padding-top: 10px;
        margin-bottom: 33px;
	}
	h1{
		width: 100%;
		strong{
            color: #272063;
            font-weight: 500;
        }
	}
}

.single-content-alt{
	span{
		font-weight: 500;
		letter-spacing: 4px;
		text-transform: uppercase;	
		padding-bottom: 15px;	
		display: inline-block;
	}
	h1{
		font-weight: 500;
		padding-bottom: 20px;
	}
	p{
		width: 92%;
	}
}
// Owl Carusel nav

.img-bg{
	position: absolute;
	right: 0;
	top: -80px;
	z-index: -1;
}
/* Custom Class*/
.section-title{
	@extend %section-title;
	&::before{
		@extend %title-before;
	}
	&::after{
		@extend %title-after;
	}
}
.title-h{
	@extend %title-h;
	span{
		font-weight: 700;
	}
}
.text-g{
	@extend %text-gradiant;
}
.hr{
	height: 2px;
	width: 50px;
	background: $theme-color;
	margin-left: 0;
	margin-top: 25px;
}

/*--
    - Margin & Padding
-----------------------------------------*/
/*-- Margin Top --*/
@for $i from 1 through 40 {
    .mt-#{5 * $i}{margin-top: 5px * $i;}
}

/*-- Margin Bottom --*/
@for $i from 1 through 40 {
    .mb-#{5 * $i}{margin-bottom: 5px *$i;}
}
/*-- Margin Left --*/
@for $i from 1 through 40 {
    .ml-#{5 * $i}{margin-left: 5px * $i;}
}

/*-- Margin Right --*/
@for $i from 1 through 40 {
    .mr-#{5 * $i}{margin-right: 5px *$i;}
}

/*-- Padding Top --*/
@for $i from 1 through 40 {
    .pt-#{5 * $i}{padding-top: 5px *$i;}
}

/*-- Padding Bottom --*/
@for $i from 1 through 40 {
    .pb-#{5 * $i}{padding-bottom: 5px *$i;}
}

/*-- Padding Left --*/
@for $i from 1 through 40 {
    .pl-#{5 * $i}{padding-left: 5px *$i;}
}

/*-- Padding Right --*/
@for $i from 1 through 40 {
    .pr-#{5 * $i}{padding-right: 5px *$i;}
}


// others common css here :)


