.contact-area{
   background: url('/img/banner/contact-b.jpg');
   padding: 100px 0;
}
.contact-text {
   color: #fff;
   p{
      font-size: 18px;
      padding-top: 20px;
      padding-bottom: 25px;
   }
   a.theme-btn {
      margin-top: 85px;
      transition: .3s;
      padding: 15px 25px;
      &:hover{
         background-position: right center; 
      }
   } 
}
.contact-info {
   .info-icon{
      float: left;
      margin-right: 20px;
      width: 60px;
      height: 60px;
      line-height: 50px;
      border-radius: 50%;
      text-align: center;
      font-size: 30px;
      border: 5px solid $theme-color;
   }
   ul{
      overflow: hidden;
      margin: 0;
      padding: 0;
      padding-bottom: 10px;
      padding-top: 4px;
      li{
         list-style: none;
         font-weight: 300;
         b{
            font-weight: 700;
         }
      }
   }
   hr{
      background: #1e6696;
      height: 2px;
      width: 65%;
   }
}
.google-map{
   overflow: hidden;
   @media #{$xs}{
      display: none;
   }
   @media #{$xs}{
      display: none;
   }
   
}