// Header Area Start
.header-area{
    position: relative;
    z-index: 9999;
    top: 45px;
}
.logo-area{
    img{
        width: 100%;
    }
}
.lang{
    color: $theme-color;
    float: left;
    padding-left: 35px;
    padding-top: 10px;
}
.menu-area{
    nav{
        li{
            padding: 7px 15px;
            border-radius: 5px;
            position: relative;
            a{
                color: $white;
                text-decoration: none;
                font-weight: 700;
                font-size: 15px;
                text-transform: uppercase;
            }
        }
    }
}
// Header Area End