// Header Area Start
.header-area{
    position: relative;
    z-index: 9999;
    top: 45px;
}
.logo-area{
    img{
        width: 100%;
    }
}
.lang{
    color: $theme-color;
    float: left;
    padding-left: 35px;
    padding-top: 10px;
}
.menu-area{
    nav{
        li{
            padding: 7px 15px;
            border-radius: 5px;
            position: relative;
            @media #{$lg} {
                padding: 7px 3px;
            }
            @media #{$md} {
                padding: 7px 0px;
            }
            a{
                color: $white;
                text-decoration: none;
                font-weight: 700;
                font-size: 15px;
                text-transform: uppercase;
            }
            ul.sub-menu{
                position: absolute;
                width: 300px;
                background: $white;
                padding: 30px;
                left: -100px;
                top: 35px;
                border-radius: 4px;
                opacity: 0;
                visibility: hidden;
                @include transform(scaleY(0));
                display: table;
                transform-origin: center top 0;
                @include transition(.3s);
                &::before{
                    position: absolute;
                    content: '';
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid #01a6fd;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    width: 20px;
                } 
                li{
                    display: block;
                    text-align: left;
                    border-bottom: 1px solid #eeeeee;
                    padding-left: 0;
                    padding-top: 10px;
                    &:last-child{
                        border: none;
                    }
                    &:hover{
                        background: transparent;
                    }
                    a{
                        color: $black;
                        @include transition(.3s);
                        &:hover{
                            color: $theme-color;
                        }
                    }
                }
            }
            &:hover{
                @extend %theme-color;
                background-size: 200% auto;
                ul.sub-menu{
                    opacity: 1;
                    visibility: visible;
                    @include transform(scaleY(1));
                } 
            }
        }
    }
}
.login-area{
    padding: 7px 0;
    a{
        color: $white;
        font-size: 15px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
    }
}
.cart-area{
    li{
        list-style: none;
        display: inline-block;
        width: 35px;
        height: 35px;
        line-height: 30px;
        text-align: center;
        border: 2px solid $theme-color;
        border-radius: 50%;
        margin-right: 10px;
        @media #{$lg}{
            margin-right: 0;
        }
        a{
            color: $white;
        }
    }
}
// Header Area End