/*===================== News Area Start =============================*/
.news-wrapper{
   hr{
      margin: 0;
      padding: 0;
      background: #eeeeee;
      height: 1px;
      width: 100%;
   }
}
.news-thumb{
   float: left;
   margin-right: 20px;
}
.news-content{
   overflow: hidden;
   margin-bottom: 30px;
   h3{
      line-height: 0.8;
      margin-top: 5px;
      a{
         text-decoration: none;
         font-weight: 700;
         font-size: 19px;
         color: #333333;
      }
   }
}
.news-date{
   font-size: 13px;
   color: #cccccc;

}
.news-view{
   ul{
      margin: 0;
      padding: 0;
      li{
         display: inline-block;
         list-style: none;
         font-size: 14px;
         color: #cccccc;
         background: #f4f4f4;
         padding: 5px 15px;
         border-radius: 5px;
         margin-top: 10px;
         margin-right: 3px;
         @media #{$lg}{
            padding: 5px 10px;
         }
      }
   }
}
.news-link{
   a{
      font-weight: 700;
      color: #333333;
      text-decoration: none;
      i{
         color: $theme-color;
      }
   }
   @media #{$md}{
      margin-bottom: 30px;
   }
   @media #{$xs}{
      display: block;
      padding-top: 30px;
      margin-bottom: 30px;
   }
}