// Font Family
$rubik: 'Rubik', sans-serif;
$popins: 'Poppins', sans-serif;

// Colors ---------------
$black: #252525;
$white: #fff;
$theme-color: #9d98bf;
$red: #ff5b67;
$blue: #675eac;
$blue-dip: #272063;
$babyblue: #e5eafd;






// Responsive Variables
$laptop-lg: 'only screen and (min-width: 1330px) and (max-width: 1450px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1450px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$mobile: '(max-width: 575px)';


